@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: 'Barlow';
        src: url('/fonts/Barlow-Semi-Condensed.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face{
        font-family: 'Barlow-bold';
        src: url('/fonts/Barlow-Semi-Condensed-Bold.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face{
        font-family: 'Barlow-black';
        src: url('/fonts/Barlow-Semi-Condensed-Black.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}
